.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 20%;
    height: 100vh;
    border-radius: 1px;
    z-index: 1000;
    padding-top: 0%;
    margin-top: 0%;
}

.arrow {
    float: right;
}